In [1]:
# Declaring Tuples
tuple1 = (10, 20, 30, 46.77, "Ravi", 2023, "ABC")
tuple2 = (2.55, 522, 95840)
tuple3 = (tuple1, tuple2, 458, "Ravi")
tuple4 = (100, [10, 20, 30], 40, (50, "Ravi"), 60)
tuple5 = ()
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)
print(tuple5)

(10, 20, 30, 46.77, 'Ravi', 2023, 'ABC')
(2.55, 522, 95840)
((10, 20, 30, 46.77, 'Ravi', 2023, 'ABC'), (2.55, 522, 95840), 458, 'Ravi')
(100, [10, 20, 30], 40, (50, 'Ravi'), 60)
()

In [2]:
# Type checking
tuple1 = 10, 20
print("Type is:", type(tuple1))  # o/p -> tuple

Type is: <class 'tuple'>

In [3]:
tuple2 = (10, 20)
print("Type is:", type(tuple2))  # o/p -> tuple

Type is: <class 'tuple'>

In [7]:
# Empty tuple
tuple1 = ()
# Empty tuple with parentheses is valid, but tuple is immutable
a = ()       # empty tuple -> type: tuple
b = (10)     # single element without comma -> type: int
c = (10, 20) # two elements -> type: tuple
d = (10,) 
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [8]:
# Accessing tuple elements
tuple1 = (10, 20, 30, "Ravi", 40, 50)
print("At index 0, we have:", tuple1[0])  # o/p -> 10
print("At index 3, we have:", tuple1[3])  # o/p -> Ravi

At index 0, we have: 10
At index 3, we have: Ravi

In [9]:
# Using while loop
tuple1 = (10, 20, 30, "Ravi", 50)
i = 0
while i < tuple1.__len__():
    print("At index", i, "element is:", tuple1[i])
    i += 1

At index 0 element is: 10
At index 1 element is: 20
At index 2 element is: 30
At index 3 element is: Ravi
At index 4 element is: 50

In [10]:
# Negative indexing
tuple1 = (10, 20, 30)
print(tuple1[-1])  # o/p -> 30
print(tuple1[-2])  # o/p -> 20
print(tuple1[-3])  # o/p -> 10
# print(tuple1[-4])  # IndexError

30
20
10

In [11]:
# For loop iteration
tuple1 = (10, 20, 30)
for ele in tuple1:
    print(ele)  # o/p -> 10 20 30

10
20
30

In [12]:
# Slicing tuple
tuple1 = ("P", "Y", "T", "H", "O", "N")
print(tuple1)                 # o/p -> ('P', 'Y', 'T', 'H', 'O', 'N')
sliced_tuple1 = tuple1[2:5]   # elements from index 2 to 4
sliced_tuple2 = tuple1[2:-1]  # from 2nd index till end-1
sliced_tuple3 = tuple1[1:]    # from 1st index to end
sliced_tuple4 = tuple1[:3]    # from start to index 2
sliced_tuple5 = tuple1[:4]    # up to index 3
sliced_tuple6 = tuple1[::-1]  # reverse

('P', 'Y', 'T', 'H', 'O', 'N')

In [14]:
# Tuple immutability
tuple1 = (10, 20, 30)
tuple1[1] = 45  # TypeError

TypeError: 'tuple' object does not support item assignment

In [15]:
# Concatenation
tuple1 = (10, 20, 30)
tuple1 = tuple1 + (50, 60)
print(tuple1)  # o/p -> (10, 20, 30, 50, 60)

(10, 20, 30, 50, 60)

In [16]:
# Length of tuple
tuple1 = (10, 20, 30, 40)
a = tuple1.__len__()
print("Tuple1 has", a, "elements")

Tuple1 has 4 elements

In [17]:
# Membership operators
tuple1 = (10, 20, 30, "Ravi", 40, 50)
print(10 in tuple1)        # True
print(25 in tuple1)        # False
print(40 not in tuple1)    # False
print(55 not in tuple1)    # True

True
False
False
True

In [18]:
# Tuple concatenation
tuple1 = (10, 20, 30)
tuple2 = (40, "Ravi", 50)
tuple3 = tuple1 + tuple2
print(tuple3)  # (10, 20, 30, 40, "Ravi", 50)

tuple4 = tuple2 + tuple1
print(tuple4)

tuple5 = (tuple1, tuple2)   # nested tuple
print(tuple5)

(10, 20, 30, 40, 'Ravi', 50)
(40, 'Ravi', 50, 10, 20, 30)
((10, 20, 30), (40, 'Ravi', 50))

In [19]:
# Multiplication
tuple1 = (10, 20, 30)
tuple2 = tuple1 * 3
print(tuple2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [20]:
# Built-in functions
tuple1 = (10, 20, 30)
tuple2 = tuple1.__add__((35, 45, 20, 60))
print(tuple2)

a = tuple2.count(20)
print("Element 20 appears", a, "times in tuple2")

b = tuple2.index(20)
print("Element 20 first appears at", b, "index in tuple2")

(10, 20, 30, 35, 45, 20, 60)
Element 20 appears 2 times in tuple2
Element 20 first appears at 1 index in tuple2

In [22]:
#  Deleting a tuple
tuple1 = (10, 20, "Ravi", 30)
del tuple1
print(tuple1)  # NameError: tuple1 is not defined

NameError: name 'tuple1' is not defined