In [1]:
# Set declaration
set1 = {10, 20, 30}
print(set1)

set2 = {1.45, 20, "Hello", (1, 2, 3)}
print(set2)

{10, 20, 30}
{1.45, (1, 2, 3), 20, 'Hello'}

In [2]:
# Empty set (must use set(), {} creates a dictionary)
set3 = set()
print(type(set3))  # o/p -> <class 'set'>

<class 'set'>

In [ ]:
# Duplicates are automatically removed in a set
set4 = {10, 20, 30, 40, 10, 20, 50}
print(set4)

{50, 20, 40, 10, 30}

In [4]:
# Accessing elements in a set
# Direct indexing is not possible: set1[0] -> Error
for element in set4:
    print(element)

50
20
40
10
30

In [5]:
# Membership test
print(10 in set4)      # True
print(15 in set4)      # False
print(20 not in set4)  # False

True
False
False

In [6]:
# Adding elements
set4.add(60)
print(set4)

{50, 20, 40, 10, 60, 30}

In [7]:
# Update with multiple elements
set4.update([70, 80])
print(set4)

{80, 50, 20, 70, 40, 10, 60, 30}

In [8]:
# Removing elements
set4.remove(10)  # Removes 10, KeyError if not found
print(set4)

{80, 50, 20, 70, 40, 60, 30}

In [9]:
set4.discard(200)  # No error if element not found
print(set4)

{80, 50, 20, 70, 40, 60, 30}

In [10]:
# pop() removes a random element
removed_element = set4.pop()
print("Removed:", removed_element)
print(set4)

Removed: 80
{50, 20, 70, 40, 60, 30}

In [11]:
# Clearing a set
set4.clear()
print(set4)  # o/p -> set()

set()

In [12]:
# Deleting a set completely
set5 = {10, 20, 30}
del set5
# print(set5)  # NameError

In [13]:
# Set operations
set1 = {10, 20, 30, 40}
set2 = {30, 40, 50, 60}

In [14]:
# Union
print(set1 | set2)         # using |
print(set1.union(set2))    # using union()

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [15]:
# Intersection
print(set1 & set2)         # using &
print(set1.intersection(set2))

{40, 30}
{40, 30}

In [16]:
# Difference
print(set1 - set2)         # elements in set1 but not in set2
print(set1.difference(set2))

{10, 20}
{10, 20}

In [17]:
# Symmetric difference
print(set1 ^ set2)         # elements in either set but not both
print(set1.symmetric_difference(set2))

{10, 50, 20, 60}
{10, 50, 20, 60}

In [18]:
# isdisjoint()
print(set1.isdisjoint(set2))  # False

False

In [19]:
# issubset() and issuperset()
print({10, 20}.issubset(set1))  # True
print(set1.issuperset({10, 20})) # True

True
True

In [20]:
# Copying a set
set3 = set1.copy()
print(set3)

{40, 10, 20, 30}